<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaModelo.Properties.Settings.farmaciaAPPConnectionString"
            connectionString="Data Source=LAPTOP-K73ARCLQ;Initial Catalog=farmaciaAPP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>